<h1>Sign Up Confirmation</h1>

<h3>Are you sure these values are correct?</h3>

<p>Email: <%= "#{@user.email}" %> </p>
<p>Name: <%= "#{@user.name}" %> </p>

<div style="float:left;">
<%= button_to "Yes", {:controller => "users", :action => "create", :params => params}, class: 'btn btn-success' %>
</div>
<div style="float:left;">
<%= button_to 'No', request.referer, method: :get,  class: 'btn btn-danger' %>
</div>