.social-btn {
    display: block;
    height: 100px;
    width: 300px;
    background: #4099FF;
    border: 2px solid rgba(33, 68, 72, 0.59);
    
    color: white;
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial;
    
    background: linear-gradient(top, #4099FF, #2f5f63);
    border-radius: 50px;
    box-shadow: 0 8px 0 #265B99;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}
